#id {
    /*стилизация по айди*/
    ...
}

.class {
    /*стилизация по классу*/
    ...
}



input {
    display: block;
    margin-bottom: 10px;
    border: 2px solid green;
}

input[required] {
    border: 2px solid blue;
}



/*Это устанавливает стиль для всех элементов*/

* {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

/*Этот селектор выберет те элементы, в которых значение - это то, с чего начинается атрибут*/
p[class^="some"] {
    ...
}

/*А тут - противопиложное. То, на что заканчивается*/
p[class$="text"] {
    ...
}

/*Можно выбрать все элементы, которые сожержат определенное слово*/
p[class*="text"] {
    ...
}


/*Универсальный селектор можно использовать и для более специфичных стилей. Например, чтобы задать стили для всех ::before и ::after псевдоэлементов:*/

*::before,
*::after {
    font-size: 20px;
}


.heading {
    color: green;
    font-size: 24px;
    text-align: center;
}