/* стили для обертки */
.wrap {
    display: flex;
    width: 50%;
    height: 200px;
    margin: 0 auto;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

/* стили для кнопки */
button {
    border: 1px solid blue;
    background: transparent;
    height: 40px;
    cursor: pointer;
}

/* стили для span */
span {
    opacity: 0;
}

/* псевдокласс hover */
a:hover {
    color: green;
}

/* псевдокласс active */
button:active {
    background-color: lightblue;
    transform: scale(1.2, 1.2)
}

/* псевдокласс checked */
input:checked + span {
    opacity: 1;
}


.btn:not(:focus) {
    background-color: dodgerblue
}

/*------------ПСЕВДОЭЛЕМЕНТЫ---------------*/

ul {
    list-style: none;
    margin-left: 10
}

li {
    position: relative;
    font-size: 2rem
}

.test_ul li {
    color: aqua;
    padding-left: 40px
}

.test_ul li::before {
    content: "\20B0";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 2rem;
    color: blue;
}

</style >
