.wrap,
.wrap-2 {
  width: 30%;
  margin: 0 auto;
  padding: 2em;
  border: 2px solid green;
}
.wrap a {
  width: 200px;
  border: 2px solid black;
  margin-bottom: 20em
}
.wrap {
  margin-bottom: 2em;
}
.wrap-2 a {
  display: inline-block;
  width: 200px;
  border: 2px solid black;
  margin-bottom: 10px;
}

.wrap-2 a:last-child{
    margin-bottom: 0
}