html {
    background-image: url(https://images.unsplash.com/photo-1518837695005-2083093ee35b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)
}

h1 {
background-color: rgba(255,255,255,0.8)
}

p:nth-child(2n+1){
   background-color: rgba(115,115,115,0.3);
    color: white
}

p:nth-child(2n){
   background-color: rgba(115,115,115,0.7);
    color: white
}


