 @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

 html {
     font-family: serif;
     background-image: url(images/backgroung.jpg);
     background-repeat: no-repeat;
     background-position: center center;
     background-attachment: fixed;
     /*
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
*/
     background-size: cover;
     color: whitesmoke;
     margin: 50px
 }

 .header {
     display: flex;
     font-size: 25px;
     position: sticky;
     top: 0;
     z-index: 99;
     margin-bottom: 100px;
     box-sizing: border-box;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;

     /*    margin: -100;*/
     /*    background-image: url(images/backgroung.jpg)*/
 }

 .links {
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     flex-wrap: wrap;

 }

 .link {
     padding: 20px;
 }

 .title {
     display: flex;
     font-size: 40px;
     font-family: Pacifico;
 }

 a:visited {
     color: #97B7BA
 }

 a:link {
     color: #97B7BA
 }

 main {
     display: flex;
     position: relative;
 }

 .text {
     /*    position: relative;*/
     text-align: left;
     width: 50%;
     font-size: 15px;
 }

 #main_photo {
     position: absolute;
     right: 0;
     padding-right: 30px;
     text-align: right;
     border-radius: 1000px;
 }

 .link:hover {
     color: aqua
 }

 /*
 h2::before {
     content: "\128293";
     padding-right: 5px;
     font-size: 15px;
 }
*/

 footer {}
