/*#id {}  стилизация по айди*/

/*.class {} стилизация по классу*/

input {
    display: block;
    margin-bottom: 10px;
    border: 2px solid green;
}

input[required] {
    border: 2px solid blue;
}

* {
    /*Это устанавливает стиль для всех элементов*/
    margin: 10;
    padding: 10;
    font-size: 14px;
}

/* p[class^="some"] {} Этот селектор выберет те элементы, в которых значение - это то, с чего начинается атрибут*/

/* p[class$="text"] {} А тут - противопиложное. То, на что заканчивается*/

/* p[class*="text"] {} Можно выбрать все элементы, которые сожержат определенное слово*/

/*Универсальный селектор можно использовать и для более специфичных стилей. Например, чтобы задать стили для всех ::before и ::after псевдоэлементов:


*::before,
*::after {
    font-size: 20px;
}*/


.heading {
    color: green;
    font-size: 24px;
    text-align: center;
}

.text {
  font-size: 20px;
}
.text.red {
  color: red;
}
.red.small {
    font-size: 16px;
}



.my_link ~* { /*селектор, который выберет для ссылки с классом my-link всех соседей и задаст им сплошной border оранжевого цвета толщиной в 2 пикселя*/
    border: 2px solid orange;
}

